*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
*::placeholder{
  color: rgb(223, 252, 5);
  opacity: 0.8;
  font-size: 0.8rem;
}
body{
  background: url('signup-bg.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main-div{
  position: absolute;
  top: 50px;
  left: 50%;
  z-index: 10;
  text-align: center;
  padding: 30px 10px;
  width: 500px;
  min-height: 500px;
  transform: translateX(-50%);
  background: rgba(1, 103, 109, 0.7);
  box-shadow: 0 0 10px yellow;
  border-radius: 1rem;
}

table{
  position: relative;
  text-align: left;
  font-size: 1.2rem;
  background: rgba(16, 2, 82,0.5);
}
table td{
  width: 220px;
}
table span{
  /* background-color: red; */
  color: rgb(157, 179, 9) !important;
}
.fav-anime span{
  background-color: yellow;
}
tr td:nth-child(1) {
  color: rgb(172, 233, 29);
  min-width: 230px;
}
tr td:nth-child(3) {
  /* background: red; */
  max-width: 40px;
  display: flex;
  justify-content: center;
  color: rgb(32, 227, 32);
}
/* tr td:nth-child(3).hidden{
  display: none;
} */

table input{
  color: rgb(47, 244, 70);
  width: 100%;
  font-size: 1.1rem;
  background-color: rgba(150, 44, 220, 0.9);
  border: none;
  padding: 1px 5px;
}
.error{
  /* background-color: red; */
  box-shadow: 0 1px 2px rgb(1, 189, 5);
  color: white;
  font-size: 0.8rem;
}
.div-gender{
  display: flex;
  color: rgb(106, 246, 171);
  font-size: 1rem;
}
.fav-anime p{
  display: flex;
  color: rgb(106, 246, 171);
  margin-bottom: 2px;
  font-size: 1rem;
}
.fav-anime p input{
  width: 1rem;
  margin-right: 10px;
}
.term-cond{
  background-color: rgba(87, 10, 63, 0.5);
  margin: 10px 0;
  padding: 5px 0;
  font-size: 0.8rem;
  color: white;
}
.term-cond a{
  color: yellow;
}
.submit-btn button{
  width: 200px;
  height: 50px;
  color: red;
  font-size: 1.3rem;
  font-weight: bold ;
  border-radius: 10px;
  border: none;
  box-shadow:0 3px 5px rgb(25, 225, 125);
  cursor: pointer;
}
.submit-btn button:hover{
  background-color: aquamarine;
}



